micronaut:
  application:
    name: locadoraCar

#My SQL
datasources:
  default:
    url: jdbc:mysql://localhost:3306/locadora?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: 123456
    dialect: MYSQL
    schema-generate: CREATE_DROP
jpa:
  default:
    entity-scan:
      packages: 'com.treino.persistence.entities'
    properties:
      hibernate:
        hbm2ddl:
          auto: none
        show_sql: true
flyway:
  datasources:
    default:
      enabled: true
      clean-schema: false

grpc.server.health.enabled: true
